# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

derby.log
data/
metastore_db/

# Virtual Environment
.venv/
venv/
ENV/
env/

# IDE
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# Environment variables
.env